/*	----------------------------IMPORTS
\*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic,700italic,800italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*	VARIABLES FOR devCodeMusic.com
\*/
/*	-----------------------------------------------MIXINS
\*/
body {
  font-family: "Open Sans", sans-serif;
  color: #2c3e50; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-transform: uppercase;
  color: #22313f; }

h1 {
  font-size: 42px;
  letter-spacing: 0.04em;
  margin: 15px 0 30px 0; }

h2 {
  font-size: 30px;
  letter-spacing: 0.04em;
  margin: 15px 0 30px 0; }

h3 {
  font-size: 20px;
  letter-spacing: 0.04em;
  margin: 15px 0; }

h4 {
  font-size: 16px;
  letter-spacing: 0.04em;
  margin: 15px 0; }

h5 {
  font-size: 14px;
  letter-spacing: 0.04em;
  margin: 8px 0; }

h6 {
  font-size: 11px;
  letter-spacing: 0.04em;
  margin: 8px 0; }

hr {
  border-color: #ABB7B7;
  border-style: solid; }

p {
  line-height: 1.8;
  margin: 3px 0 15px 0;
  max-width: 960px; }

/*	----------------------------STYLES
\*/
body {
  background: #eee; }

.wrapper {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 961px) and (max-width: 1140px) {
    .wrapper {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; }
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1141px) {
    .wrapper {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto; }
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }

.button {
  width: 60px;
  font-size: 16px;
  background-color: #22313f;
  border-radius: 3px; }
