/*\
	VARIABLES FOR devCodeMusic.com
\*/

//------------------------VARIABLES

//-------------Imports
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400,700,800,400italic,700italic,800italic);

//-------------Susy
$susy: (
	columns:12,
	gutters:1/4,
	gutter-position:after
);

//-------------Screen Sizing
$smallScreenSize:			0px 768px;
$mediumScreenSize:		769px 959px;
$desktopScreenSize:		960px;
$maxScreenSize:			1140px;

//-------------Fonts
$openSans:		'Open Sans', sans-serif;


//-------------Colors

//monochromes
$grey: 			#2c3e50;
$lightGrey:		#eee;
$disabled:		#677879;
$midGrey:		#ABB7B7;
$white:			#fff;
$black:			#22313f;

//blues
$blue:			#59ABE3;
$lightBlue:		#6BB9F0;
$darkBlue:		#3498DB;

//greens
$green:			#3FC380;
$lightGreen:	#66CC99;
$darkGreen:		#00B16A;

//reds
$red:			#F64747;
$lightRed:		#E26A6A;
$darkRed:		#D64541;	




//-------------Spacing
$mic:			3px;
$tny:			8px;
$sm:			15px;
$reg:			30px;
$med:			45px;
$lg:			60px;
$xl:			90px;
$xxl:			120px;
$enormous:		240px;

//-------------Font Sizing
$micFontSize:	9px;
$tnyFontSize:	11px;
$smFontSize:	14px;
$regFontSize:	16px;
$medFontSize:	20px;
$lgFontSize:	30px;
$xlFontSize:	42px;
$xxlFontSize:	60px;
$enormousFontSize:	120px;


