/*\
	VARIABLES FOR devCodeMusic.com
\*/

//------------------------VARIABLES

//-------------Imports
@import url(https://fonts.googleapis.com/css?family=Raleway:900,200italic,200,400,400italic);

//-------------Susy
$susy: (
	columns:12,
	gutters:4,
	gutter-position:after
);

//-------------Screen Sizing
$smallScreen:	0px 768px;
$mediumScreen:	769px 960px;
$desktopScreen:	961px 1140px;
$maxScreen:		1141px;

//-------------Fonts
$raleway:		'Raleway', sans-serif;


//-------------Colors
$grey: 			#2c3e50;
$lightGrey:		#eee;
$white:			#fff;
$black:			#22313f;
$offWhite:		#e4f1fe;


//-------------Spacing
$mic:			3px;
$tny:			8px;
$sm:			15px;
$reg:			30px;
$med:			45px;
$lg:			60px;
$xl:			90px;
$xxl:			120px;
$enormous:		240px;

//-------------Font Sizing
$micFontSize:	9px;
$tnyFontSize:	11px;
$smFontSize:	14px;
$regFontSize:	16px;
$medFontSize:	20px;
$lgFontSize:	30px;
$xlFontSize:	42px;
$xxlFontSize:	60px;
$enormousFontSize:	120px;


