/*\
	----------------------------IMPORTS
\*/

//EXTERNAL IMPORTS
@import './lib/susy/sass/susy.scss';
@import './lib/bourbon/app/assets/stylesheets/bourbon';
@import './lib/breakpoint-sass/stylesheets/breakpoint';

//INTERNAL IMPORTS
@import './components/scss/_reset';
@import './components/scss/_variables';
@import './components/scss/_mixins';
@import './components/scss/_constants';
@import './components/scss/_grid';

/*\
	----------------------------STYLES
\*/

body{
	background:$lightGrey;
}

.sidebar{
	position:fixed;
	width:$xxl;
	height:100vh;
	left:0;
	background-color:$black;
}

.admin-wrapper{
	@include container(100%);
	
	@include breakpoint($desktopScreenSize){
		padding:$sm $sm $sm ($xxl + $sm);
	}
}

.admin-wrapper .ct-line,
.admin-wrapper .ct-point{
	stroke: $blue !important;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point{
	stroke: $green !important;
}