/*\
	----------------------------IMPORTS
\*/

//EXTERNAL IMPORTS
@import './lib/susy/sass/susy.scss';
@import './lib/bourbon/app/assets/stylesheets/bourbon';
@import './lib/breakpoint-sass/stylesheets/breakpoint';

//INTERNAL IMPORTS
@import './components/scss/_variables';
@import './components/scss/_reset';
@import './components/scss/_constants';
@import './components/scss/_mixins';

/*\
	----------------------------STYLES
\*/

body{
	background:$lightGrey;
}

.sidebar{
	position:fixed;
	width:$xxl;
	height:100vh;
	left:0;
	background-color:$black;
}